<table>
    <tr>
        <td><a href=".">Home</a></td>
    </tr>
</table>
<details>
    
<summary>TPT notes</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="tpt">TPT Notes</a></td>
        <td><a href="tt">TT Notes and Codes</a></td>
        <td><a href="cb">CB requirements etc.</a></td>
    </tr>
</table>
</details>


<details>
<summary>How do I dropdown 2?</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="tpt">TPT Notes</a></td>
        <td><a href="tt">TT Notes and Codes</a></td>
        <td><a href="cb">CB requirements etc.</a></td>
    </tr>
</table>
<table>
    <tr>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/1">Week 0 review ticket</a></td>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/2">Week 1 review ticket</a></td>
    </tr>
</table>
</details>

<details>
<summary>How do I dropdown 3?</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="tpt">TPT Notes</a></td>
        <td><a href="tt">TT Notes and Codes</a></td>
        <td><a href="cb">CB requirements etc.</a></td>
    </tr>
</table>
<table>
    <tr>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/1">Week 0 review ticket</a></td>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/2">Week 1 review ticket</a></td>
    </tr>
</table>
</details>


