<table>
    <tr>
        <td><a href=".">Home</a></td>
    </tr>
</table>
<details>
    
<summary>TPT notes</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="tpt1,2">TPT 5.1, 5.2</a></td>
        <td><a href="tpt53,54">TPT 5.3, 5.4</a></td>
        <td><a href="tpt55,56">TPT 5.5, 5.6</a></td>

    </tr>
</table>
</details>


<details>
<summary>TT Notes and Codes</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="tt0">TT 0</a></td>
        <td><a href="tt1">TT 1</a></td>
        <td><a href="tt2">TT 2</a></td>
    </tr>
</table>
</details>




<details>
<summary>Cross Over</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="crossover">Cross Over</a></td>
    </tr>
</table>
</details>


<details>
<summary>Sponsered Project</summary>
<br>
<table>
    <tr>
        <td><a href=".">Home</a></td>
        <td><a href="sponseredproject">Sponsered Project</a></td>
    </tr>
</table>
</details>



<details>
<summary>CB Requirements</summary>
<br>
<table>
    <tr>
        <td><a href="cb">CB requirements etc.</a></td>
    </tr>
</table>

</details>

<details>
<summary>Review Tickets</summary>
<br>
<table>
    <tr>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/1">Week 0 review ticket</a></td>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/2">Week 1 review ticket</a></td>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/4">Week 2 review ticket</a></td>
        <td><a href="https://github.com/Athena9355/Tri3-Data-Structure/issues/5">Week 3 review ticket</a></td>
    </tr>
</table>
</details>

